<div class="bg">
    <br> <br>
    <div class="container">
        <img src="assets/images3.png">
        <h3>Have an account?</h3>
        <form (ngSubmit)="login(email.value, password.value)">
            <div class="form-group">
                <div class="usernameDiv">
                    <div>
                        <input type="text" name="username" id="username" placeholder="Enter Email" class="form-control" #email>
                    </div>
                    <div>
                        <span>{{errors.email}}</span>
                    </div>
                </div>
                <div class="passwordDiv">
                    <div>
                        <input type="password" name="password" id="password" placeholder="Enter Password" class="form-control" #password>
                    </div>
                    <div>
                        <span>{{errors.password}}</span>
                    </div>
                </div>
                <div class="buttonDiv">
                    <button>Login</button>
                </div>
                <div style="margin-top: 15px;">
                    <a style="float: right;color: white;" href="/register">Create New Account?</a>
                </div>
            </div>
        </form>
    </div>
</div>