button {
  width: 90%;
  height: 40px;
  border-radius: 25px;
  border-color: rgb(255, 255, 255);
  font-size: large;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(66, 63, 248);
}

.container {
  text-align: center;
  background-color: rgb(96, 93, 241);
  width: 500px;
  padding-bottom: 100px;
  padding-top: 60px;
  border-radius: 12px;
  margin-top: 5%;
}

.passwordDiv, .buttonDiv, .confirmPasswordDiv, .mobileDiv, .nameDiv {
  margin-top: 20px;
}

.fa-user {
  font-size: 50px;
  color: white;
}

h3 {
  color: white;
  font-style: initial;
  font-size: x-large;
}

.bg {
  background-image: url('../../assets/background.jpg');
  height: 100%;
  top: 0;
}

img {
  height: 80px;
}

span {
  float: left;
  color: red;
}