<app-sidebar></app-sidebar>

<div class="container">
    <br> <br>

    <div class="fileUpload">
        <form #fileUploadForm="ngForm" (change)="fileSelected($event)" (ngSubmit)="fileUploaded(fileUploadForm)" class="file-upload">
            <div class="form-group">
                <div>
                    <span>Choose a pdf file: </span>
                    <input type="file" name="file" id="file"  />
                    <button type="submit">Upload</button>
                    <p class="alert alert-danger" *ngIf="errors.file">{{errors.file}}</p>
                    <p class="alert alert-info" *ngIf="uploaded == true">File uploaded sucessfully.</p>
                </div>
            </div>
        </form>
    </div>
    <br> <br>
    <div>
        <div class="form-group searchDiv">
            <input type="text" class="form-control searchDiv" placeholder="search here..." (keyup)="searchData(search.value)" #search>
        </div>
        <div class="listView">
            <div *ngIf="response.length === 0">
                <p class="alert alert-danger" style="width: 50%; margin-left: 13%;">No Data Found.</p>
            </div>
            <ol>
                <div *ngFor="let resp of response">
                    <a href="{{resp.path}}"><li class="alert">{{ resp.original_name }}<span style="margin-left: 50%;" class="fa fa-download"></span></li></a>
                </div>
            </ol>
        </div>
        <div class="buttonSet">
            <button class="previous" (click)="loadPreviousData()">Previous</button>
            <button class="next" (click)="loadNextData()">Next</button>
        </div>
    </div>
</div>
