.fileUpload {
    width: 90%;
    padding: 3%;
    margin-left: 10%;
    border: solid;
}

#file {
    width: 30%;
}

button {
    background-color: rgb(66, 63, 248);
    color: white;
    font-size: 500;
    width: 15%;
    border: none;
    border-radius: 12px;
    padding: 5px;
}

.errors {
    color: red;
}

li {
    width: 50%;
    margin-left: 10%;
    color: white; 
    background-color: rgb(66, 63, 248);
    font-size: 500;
}

.previous {
    margin-left: 6%;
}

.next {
    margin-left: 19%;
}

.searchDiv {
    width: 50%;
    margin-left: 24.5%;
}