<div class="container">
    <div style="text-align: center;">
        <img src="assets/images3.png">
    </div>
    <a href="/dashboard"><p>Dashboard</p></a>
    <a href="/file"><p>File</p></a>
    <a href="/profile"><p>Profile</p></a>
    <p (click)="logOut()">Log Out</p>
</div>