.container {
    background-color: rgb(96, 93, 241);
    width: 15%;
    height: 100%;
    float: left;
}

img {
    margin-top: 15px;
    padding: 10px;
    height: 80px;
}

p {
    font-weight: 500;
    font-size: large;
    margin-top: 9px;
    color: white;
    cursor: pointer;
}