.container {
    background-color: rgb(96, 93, 241);
    color: white;
    font-size: large;
    font-weight: 500;
    width: 40%;
    height: 30%;
    margin-top: 5%;
    border-radius: 12px;
    text-align: center;
}

.column1, .column2 {
    padding: 17px;
}

.column2 {
    right: 0;
}