<app-sidebar></app-sidebar>

<br>

<div class="container">
    <div>
        <p>User Profile</p>
    </div>

    <div class="row">
        <div class="column1">
            <p>Email</p>
            <p>Name</p>
            <p>Mobile</p>
        </div>
        <div class="column2">
            <p style="right: 0;">{{email}}</p>
            <p>{{name}}</p>
            <p>{{mobile}}</p>
        </div>
    </div>
</div>
