<app-sidebar></app-sidebar>

<div class="container">
    <br/> <br/>

    <div class="content">
        <p class="main">Welcome to the project</p>
        <p class="subMain">This project for uploading files.</p>
    </div>
</div>
