.content {
    border: none;
    width: 30%;
    height: 25%;
    text-align: center;
    padding: 55px;
    background-color: rgb(96, 93, 241);
    margin-left: 35%;
    margin-top: 15%;
    border-radius: 12px;
}

.main {
    font-weight: 500;
    font-size: large;
    color: white;
}

.subMain {
    color: white;
}