<div class="bg">
    <br> <br>
    <div class="container">
        <img src="assets/images3.png">
        <h3>Create Account</h3>
        <div *ngIf="created == true" class="alert alert-success">Created your account. Please login.</div>
        <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
            <div class="form-group">
                <div class="emailDiv">
                    <div>
                        <input type="text" name="email" id="email" placeholder="Enter Email" class="form-control" ngModel>
                    </div>
                    <div class="errors">
                        <span>{{errors.email}}</span>
                    </div>
                </div>
                <div class="mobileDiv">
                    <div>
                        <input type="number" name="mobile" id="mobile" class="form-control" placeholder="Enter Mobile" ngModel>
                    </div>
                    <div class="errors">
                        <span>{{errors.mobile}}</span>
                    </div>
                </div>
                <div class="nameDiv">
                    <div>
                        <input type="text" name="name" id="name" class="form-control" placeholder="Enter Name" ngModel>
                    </div>
                    <div class="errors">
                        <span>{{errors.name}}</span>
                    </div>
                </div>
                <div class="passwordDiv">
                    <div>
                        <input type="password" name="password" id="password" class="form-control" placeholder="Enter Password" ngModel>
                    </div>
                    <div class="errors">
                        <span>{{errors.password}}</span>
                    </div>
                </div>
                <div class="confirmPasswordDiv">
                    <div>
                        <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Re-enter Password" class="form-control" ngModel>
                    </div>
                    <div class="errors">
                        <span>{{errors.confirm_password}}</span>
                    </div>
                </div>
                <div class="buttonDiv">
                    <button>Register</button>
                </div>
                <div>
                    <a style="float: right; color: white; margin-top: 15px;" href="/login">Have an account?</a>
                </div>
            </div>
        </form>
    </div>
</div>